<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/heading :: heading (title = 'Add Doctor')}"/>
</head>
<body>

<div class="toast-container">
    <div class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive"
         aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
    </div>
</div>


<div class="container-fluid width-s-90 width-m-75 shadow p-3 m-auto">
    <form id="form">

        <div class="m-2">
            <label class="form-label" for="first_name">First Name</label>
            <input class="form-control" name="firstName"
                   placeholder="Jan" type="text" id="first_name"/>
        </div>

        <div class="m-2">
            <label class="form-label" for="last_name">Last Name</label>
            <input class="form-control" name="lastName"
                   placeholder="Smith" type="text" id="last_name"/>
        </div>

        <div class="m-2">
            <label class="form-label" for="spec">Specialization</label>
            <input class="form-control" name="specialization"
                   placeholder="e.g:Urology" type="text" id="spec"/>
        </div>
        <div class="m-2">
            <label class="form-label" for="phone_number">Phone Number</label>
            <input class="form-control" name="phoneNumber"
                   placeholder="+32465XXXXXX" type="tel" id="phone_number"/>
        </div>

        <div class="m-2">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" name="email"
                   placeholder="example@gmail.com" type="text" id="email"/>
        </div>

        <div th:class="m-2">
            <label th:class="form-label" for="username">Username</label>
            <input th:class="form-control"
                   placeholder="username"
                   id="username" name="username"/>
        </div>

        <div th:class="m-2">
            <label th:class="form-label" for="password">Password</label>
            <input th:class="form-control" type="password"
                   placeholder="password"
                   id="password" name="password"/>
        </div>

        <div th:class="m-2">
            <label th:class="form-label"  for="confirm_password">Confirm Password</label>
            <input th:class="form-control" type="password"
                   placeholder="confirm password"
                   id="confirm_password" name="confirmPassword"/>
        </div>
        <button class="btn btn-primary m-2" id="submit_btn">Add Doctor</button>
        <a class="btn btn-danger" th:href="@{/doctors/}">Back</a>


    </form>


</div>

<script th:src="@{/js/bundle-post_doctor.js}" defer></script>

</body>
</html>