<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{doctor.title1}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<div th:insert="fragments/navbar::naviagtion_bar(2)"></div>
<div th:class="'container-fluid p-3'">
    <table th:class="'table table-light table-hover'">
        <thead th:class="'table-header '">
        <tr>
            <th th:text="#{doctor.first_name}"></th>
            <th th:text="#{doctor.last_name}" }></th>
            <th th:text="#{doctor.specialization}"></th>
            <th th:text="#{doctor.phone_number}"></th>
            <th th:text="#{doctor.email}"></th>
            <th></th>
        </tr>
        </thead>

        <tr th:each="doctor:${doctors}"
            th:attr="details_page=@{/doctors/details/{id}(id=${doctor.getId()})}"
            onclick="window.location.href=this.getAttribute('details_page')">

            <td th:text="${doctor.getFirstName()}"></td>
            <td th:text="${doctor.getLastName()}"></td>
            <td th:text="${doctor.getSpecialization()}"></td>
            <td th:each="contact:${doctor.getContactInfo().split(',')}" th:text="${contact}"></td>
            <td><a th:href="@{/doctors/delete/{id}(id=${doctor.getId()})}"><i
                    th:class="'bi bi-trash-fill text-danger'"></i></a></td>

        </tr>
    </table>
    <a th:class="'btn btn-primary'" th:href="@{'/doctors/add'}" th:text="#{doctor.title2}"></a>

</div>
<div th:insert="fragments/footer::copy_rights"></div>


<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
</body>
</html>