<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="~{fragments/heading :: heading (title = 'Doctors')}"/>
    <link rel="shortcut icon" th:href="@{/media/favicon.png}">
</head>
<body>

<div th:insert="fragments/navbar::naviagtion_bar(2)"></div>

<div class="container-fluid p-3">
    <table class="table table-light table-hover">
        <thead class="table-header">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Specialization</th>
            <th>PhoneNumber</th>
            <th>Email</th>
            <th sec:authorize="!hasAnyRole('ROLE_PATIENT','ROLE_DOCTOR','ROLE_SECRETARY')"></th>
            <th sec:authorize="!hasAnyRole('ROLE_PATIENT','ROLE_DOCTOR','ROLE_SECRETARY')"></th>
        </tr>
        </thead>
        <tbody class="doctorsTbody">
        </tbody>
    </table>
    <a class="btn btn-primary" th:href="@{/doctors/add}" sec:authorize="!hasAnyRole('ROLE_PATIENT','ROLE_DOCTOR','ROLE_SECRETARY')">Add Doctor</a>

</div>

<div th:insert="fragments/footer::copy_rights"></div>


<script th:src="@{/js/bundle-get_doctors.js}" defer></script>
</body>
</html>