<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Doctor Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>

<div th:insert="fragments/navbar::naviagtion_bar(4)" th:class="d-none" id="nav_block"></div>

<div class="container-fluid width-s-90  width-m-50 shadow p-3 mt-3">

    <div class="card">
        <div class="card-header text-center"><h4 class="fw-bold">Doctor</h4></div>
        <div class="card-body m-3">
            <div>
                <i class="bi bi bi-person-fill me-3 details-icons"></i>
                <p class="d-inline-block details-text" id="fullName"></p>
            </div>
            <div>
                <i class="'bi bi bi-heart-pulse-fill me-3 details-icons text-info' "></i>
                <p class="d-inline-block details-text" id="specialization"></p>
            </div>
            <div>
                <i class="bi bi bi-envelope-at-fill me-3 details-icons text-success"></i>
                <p class="d-inline-block details-text" id="email"></p>
            </div>
            <div>
                <i class="bi bi bi-telephone-fill me-3 details-icons text-success"></i>
                <p class="d-inline-block details-text" id="phone"></p>
            </div>
            <div id="upcoming-appointments" sec:authorize="!hasRole('ROLE_PATIENT')">
                <p class="details-icons-texts"><i
                        class="bi bi-calendar-heart me-3 text-success"></i>
                    Appointment with Patients: </p>
            </div>
        </div>
    </div>
    <div>
        <div class="card-footer text-center">
        </div>
    </div>
</div>


<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/doctors/get_one_doctor.js}"></script>

</body>
</html>