<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title th:text="#{prescription.title}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
</head>
<body>
<div th:class="'container-fluid width-s-90 width-m-75 shadow p-3'">
    <form id="form">
        <!--Expire Date Field-->
        <div th:class="mt-3">
            <label th:class="form-label" for="expireDate" th:text="#{prescription.expire_date}"></label>
            <input th:type="date"
                   th:class="form-control"
                   id="expireDate" name="expireDate"/>

        </div>
        <!--Medications Checkboxes-->
        <div th:class="'mt-3'">
            <label th:class="'form-label d-inline'" for="medications"
                   th:text="#{prescription.medications}"></label>

            <div th:each="medication:${medications} "
                 th:class="form-check"
                 id="medications">

                <input th:type="checkbox" th:value="${medication.getMedicationId()}"
                       th:id="${medication.getMedicationId()}" name="medicationsIds"/>
                <label th:for="${medication.getMedicationId()}" th:class="'form-check-label fw-bold'"
                       th:text="${medication.getName()}"></label>
            </div>


        </div>

        <button th:class="'btn btn-primary mt-3'" type="button" id="submitBtn" th:text="#{prescription.title}"></button>
        <a th:class="'btn btn-danger mt-3'" th:href="@{/appointments/details/{id}(id=${appointmentId})}"
           th:text="#{button.back}"></a>

    </form>
</div>
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/prescriptions/post_prescription.js}"></script>
</body>
</html>