<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/heading :: heading (title = 'Add Patient')}"/>

</head>
<body>

<div class="toast-container">
    <div
            class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive"
            aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
    </div>
</div>

<div th:class="'container-fluid width-s-90 width-m-75  shadow m-auto p-3'">
    <form id="form">
        <div th:class="m-2">
            <label th:class="form-label" th:text="#{patient_form.firstName}" for="first_name"></label>
            <input th:class="form-control"
                   placeholder="Jan" id="first_name" name="firstName"/>
        </div>
        <div th:class="m-2">
            <label th:class="form-label" th:text="#{patient_form.lastName}" for="last_name"></label>
            <input th:class="form-control"
                   placeholder="Smith" id="last_name" name="lastName"/>
        </div>

        <div th:class="m-2">
            <label th:class="form-label" th:text="#{patient_form.gender}" for="gender"></label>
            <select th:class="form-select" id="gender" name="gender">
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
        </div>

        <div th:class="m-2">
            <label th:class="form-label" th:text="#{patient_form.nationalRegistryNumber}" for="national_num"></label>
            <input th:class="form-control"
                   th:placeholder="#{patient_form.nationalRegistryNumber.hint}"
                   id="national_num" name="nationalNumber"/>
        </div>

        <div th:class="m-2">
            <label th:class="form-label" for="username">Username</label>
            <input th:class="form-control"
                   placeholder="username"
                   id="username" name="username"/>
        </div>

        <div th:class="m-2">
            <label th:class="form-label" for="password">Password</label>
            <input th:class="form-control" type="password"
                   placeholder="password"
                   id="password" name="password"/>
        </div>

        <div th:class="m-2">
            <label th:class="form-label"  for="confirm_password">Confirm Password</label>
            <input th:class="form-control" type="password"
                   placeholder="confirm password"
                   id="confirm_password" name="confirmPassword"/>
        </div>

        <button th:class="'btn btn-primary m-2'" type="button" id="submitBtn" th:text="#{patient.title2}">Add Patient
        </button>
        <a th:class="'btn btn-danger'" th:href="@{'/patients/'}" th:text="#{button.back}">Back</a>


    </form>

</div>


<script th:src="@{/js/bundle-post_patient.js}" defer></script>

</body>
</html>