<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="~{fragments/heading :: heading (title = 'Patients')}"/>
</head>
<body>
<div th:insert="fragments/navbar::naviagtion_bar(3)"></div>

<div class="toast-container">
    <div class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive"
         aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
    </div>
</div>

<div th:class="'container-fluid p-3'">

    <table th:class="'table table-light table-hover'">
        <thead th:class="'table-header'">
        <tr>
            <th th:text="#{patient.first_name}"></th>
            <th th:text="#{patient.last_name}"></th>
            <th th:text="#{patient.gender}"></th>
            <th th:text="#{patient.age}"></th>
            <th th:text="#{patient.national_number}"></th>
            <th sec:authorize="isAuthenticated() and !hasAnyRole('ROLE_DOCTOR','ROLE_SECRETARY')"></th>
            <th></th>
        </tr>
        </thead>
        <tbody id="patients_table_body">
        </tbody>
    </table>
    <a th:class="'btn btn-primary'" th:href="@{'/patients/add'}" th:text="#{patient.title2}"></a>
</div>

<div th:insert="fragments/footer::copy_rights"></div>

<script th:src="@{/js/bundle-get_patients.js}" defer></script>
</body>
</html>