<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title th:text="#{patient.title2}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>

<div class="toast-container">
    <div
            class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive"
            aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
    </div>
</div>

<div th:class="'container-fluid width-s-90 width-m-75  shadow m-auto p-3'">
    <form id="form">
        <div th:class="m-2">
            <label th:class="form-label" th:text="#{patient_form.firstName}" for="first_name"></label>
            <input th:class="form-control"
                   placeholder="Jan" id="first_name" name="firstName"/>
        </div>
        <div th:class="m-2">
            <label th:class="form-label" th:text="#{patient_form.lastName}" for="last_name"></label>
            <input th:class="form-control"
                   placeholder="Smith" id="last_name" name="lastName"/>
        </div>

        <div th:class="m-2">
            <label th:class="form-label" th:text="#{patient_form.gender}" for="gender"></label>
            <select th:class="form-select" id="gender" name="gender">
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
        </div>

        <div th:class="m-2">
            <label th:class="form-label" th:text="#{patient_form.nationalRegistryNumber}" for="national_num"></label>
            <input th:class="form-control"
                   th:placeholder="#{patient_form.nationalRegistryNumber.hint}"
                   id="national_num" name="nationalNumber"/>

        </div>

        <button th:class="'btn btn-primary m-2'" type="button" id="submitBtn" th:text="#{patient.title2}">Add Patient</button>
        <a th:class="'btn btn-danger'" th:href="@{'/patients/'}" th:text="#{button.back}">Back</a>


    </form>

</div>


<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/patients/put_patients.js}"></script>

</body>
</html>