<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/heading :: heading (title = 'Medications Details')}"/>

</head>
<body>
<div th:class="'container-fluid width-s-90  width-m-50 shadow p-3'">

    <div th:class="card">
        <div th:class="'card-header text-center'"><h4 th:class="'fw-bold'">Medication</h4></div>
        <div th:class="'card-body m-3'">
            <div>
                <i th:class="'bi bi-heart-pulse-fill me-3 details-icons' " th:text="' '+#{medications.name}+':'"></i>
                <p th:class="'d-inline-block details-text'" id="name"></p>
            </div>
            <div>
                <i th:class="'bi  bi-capsule me-3 details-icons text-info' " th:text="' '+#{medications.type}+':'"></i>
                <p th:class="'d-inline-block details-text text-center'" id="form_usage"></p>
            </div>
            <div>
                <i th:class="'bi bi-prescription2 me-3 details-icons text-success' " th:text="' '+#{medications.dosage}+':'">
                    Dosage: </i>
                <p th:class="'d-inline-block details-text'" id="dosage"></p>
            </div>
            <div>
                <i th:class="'bi bi-arrow-counterclockwise me-3 details-icons text-primary' " th:text="' '+#{medications.freq}+':'"></i>
                <p th:class="'d-inline-block details-text'" id="freq"></p><!--times per day-->
            </div>
            <div>
                <i th:class="'bi bi-calendar2-heart-fill me-3 details-icons text-primary' " th:text="' '+#{medications.duration}+':'"></i>
                <p th:class="'d-inline-block details-text'" id="duration"></p>
            </div>

            <div>
                <i th:class="'bi bi-journal-check me-3 details-icons text-primary' " th:text="' '+#{medications.note}+':'"></i><br>
                <p th:class="'d-inline-block details-text text-center'" id="notes"></p>
            </div>
        </div>
        <div th:class="'card-footer text-center'"><a th:class="'btn btn-danger'" th:href="@{/medications/}">Back</a>
        </div>

    </div>


</div>
<script th:src="@{/js/bundle-get_one_medication.js}" defer></script>
</body>
</html>