<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="~{fragments/heading :: heading (title = 'Medications')}"/>
</head>
<body>
<div th:insert="fragments/navbar::naviagtion_bar(4)"
     sec:authorize="isAuthenticated() and !hasRole('ROLE_DOCTOR')"></div>
<div th:insert="fragments/navbar::naviagtion_bar(5)" sec:authorize="isAuthenticated() and hasRole('ROLE_DOCTOR')"></div>

<div class="toast-container">
    <div th:class="'toast align-items-center text-bg-success border-0'" role="alert" aria-live="assertive"
         aria-atomic="true">
        <div th:class="d-flex">
            <div th:class="toast-body">
            </div>
            <button type="button" th:class="'btn-close btn-close-white me-2 m-auto'" data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
    </div>
</div>


<div th:class="'container-fluid p-3'">
    <table th:class="'table table-light table-hover'">
        <thead th:class="'table-header'">
        <tr>
            <th th:text="#{medications.name}"></th>
            <th th:text="#{medications.type}"></th>
            <th th:text="#{medications.dosage}"></th>
            <th th:text="#{medications.freq}"></th>
            <th th:text="#{medications.duration}"></th>
            <th sec:authorize="!hasRole('ROLE_PATIENT')"></th>
            <th sec:authorize="!hasRole('ROLE_PATIENT')"></th>
        </tr>
        </thead>
        <tbody id="medications_tbody">

        </tbody>
    </table>
    <a th:class="'btn btn-primary'" th:href="@{/medications/add}" sec:authorize="!hasRole('ROLE_PATIENT')"
       th:text="#{medications.title2}"></a>
</div>


<div th:insert="fragments/footer::copy_rights"></div>

<script th:src="@{/js/bundle-get_medications.js}" defer></script>

</body>
</html>