<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/heading :: heading (title = 'Update Medication')}"/>
    <link th:href="@{/css/bundle-put_medication.css}" rel="stylesheet"/>

</head>
<body>
<div th:class="'container-fluid width-s-90 width-m-75 shadow p-3'">
    <form id="form">

        <div th:class="mt-3">
            <label th:class="'form-label d-inline'" th:for="name"
                   th:text="#{medications.name}"></label>
            <input th:class="'form-control'"
                   type="text" id="name" name="name"/>
        </div>

        <div th:class="mt-3">
            <label th:class="'form-label d-inline'" th:for="med_form"
                   th:text="#{medications.type}"></label>
            <select th:class="'form-select'"
                    type="text" id="med_form" name="medicationForm">
                <option th:each="form : ${medicationForms}"
                        th:value="${form.name()}"
                        th:text="${form}">
                </option>
            </select>
        </div>

        <div th:class="'mt-3 row'">
            <label th:class="'form-label d-inline'" th:for="quantity"
                   th:text="#{medications.dosage}"></label>

            <div th:class="'input-group mb-3'">
                <input th:class="'form-control col-5'"
                       type="number" id="quantity" name="quantity"/>
                <select th:class="'input-group-text col-3'"
                        type="number" id="unit" name="unit">
                    <option th:each="unit:${units}" th:text="${unit.getLabel().toUpperCase()}"
                            th:value="${unit.name()}"></option>
                </select>
            </div>
            <div>
            </div>

        </div>

        <div th:class="mt-3">
            <label th:class="'form-label d-inline'" th:for="freq"
                   th:text="#{medications.freq}"></label>
            <input th:class="'form-control'"
                   type="number" id="freq" name="frequencies"/>
        </div>

        <div th:class="mt-3">
            <label th:class="'form-label d-inline'" th:for="dd"
                   th:text="#{medications.duration}"></label>
            <input th:class="'form-control'"
                   type="number" id="dd" name="daysDuration"/>
        </div>

        <div th:class="mt-3">
            <label th:class="'form-label d-inline'" th:for="notes"
                   th:text="#{medications.note}"></label>
            <div id="notes"></div>
        </div>


        <button th:class="'btn btn-primary mt-3'" type="button" id="submitBtn">Update Medication</button>
        <a th:class="'btn btn-danger mt-3'" th:href="@{/medications/}" th:text="#{button.back}"></a>

    </form>
</div>


<script th:src="@{/js/bundle-put_medication.js}" defer></script>
</body>
</html>