/* Coded with love by Mutiullah Samim */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #daebf4 !important;
}

.user_card {
  height: 800px;
  width: 450px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #a7d3ea;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #60a3bc;
  padding: 10px;
  text-align: center;
}

.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}

.form_container {
  margin-top: 100px;
}

.login_btn {
  width: 100%;
  background-color: #2e6582 !important;
  color: white !important;
}

.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.login_container {
  padding: 0 2rem;
}

.input-group-text {
  background-color: #2e6582 !important;
  color: white !important;
  height: 45px;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px; /* Ensure a fixed width to align with input height */
}

.input_user,
.input_pass {
  border-radius: 0 0.25rem 0.25rem 0 !important;
}

.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0 !important;
  border-color: #2e6582 !important;
}

/* Adjust spacing between icon and input text */
.input-group .form-control {
  padding-left: 10px; /* Ensure some padding to align text away from icon */
}

.input-group .input-group-text i {
  margin-right: 0; /* Remove extra margin if any */
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #2e6582 !important;
}
