<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:insert="~{fragments/heading :: heading (title = 'HOME')}"/>
    <script th:src="@{/js/bundle-home.js}" defer></script>
    <link th:href="@{/css/bundle-home.css}" rel="stylesheet">

</head>

<body>

<div class="hero_area">

    <div class="hero_bg_box">
        <img th:src="@{/media/hero-bg.png}" alt="">
    </div>

    <!-- header section strats -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" th:href="@{/}">
            <span>
              CMS
            </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/appointments}" sec:authorize="isAuthenticated()">Appointments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/doctors}" sec:authorize="isAuthenticated()">Doctors</a>
                        </li>
                        <li class="nav-item" sec:authorize="!hasRole('ROLE_PATIENT')">
                            <a class="nav-link" th:href="@{/patients}" sec:authorize="isAuthenticated()">Patients</a>
                        </li>

                        <li class="nav-item" sec:authorize="hasRole('ROLE_PATIENT')">
                            <a class="nav-link" th:href="@{/patients/details}"
                               sec:authorize="isAuthenticated()">Profile</a>
                        </li>

                        <li class="nav-item" sec:authorize="hasRole('ROLE_DOCTOR')">
                            <a class="nav-link" th:href="@{/doctors/details}"
                               sec:authorize="isAuthenticated()">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/medications}"
                               sec:authorize="isAuthenticated() and !hasRole('ROLE_SECRETARY')">Medications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/signin}" sec:authorize="!isAuthenticated()">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/signup}" sec:authorize="!isAuthenticated()">Sign Up</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav align-items-lg-center ms-auto" sec:authorize="isAuthenticated()">
                        <li class="nav-item d-flex align-items-center me-2">
                            <h6 class="mb-0">Username: <span sec:authentication="name"></span></h6>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-danger" th:href="@{/signout}">Sign Out</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="detail-box">
                                    <h1>
                                        We Provide Best Healthcare
                                    </h1>
                                    <p style="font-size: 1.1em">
                                        <strong> At the Clinic Management System, we are committed to delivering
                                            exceptional healthcare experiences through our advanced digital platform. We
                                            prioritize your time and well-being with our efficient appointment
                                            scheduling, ensuring you receive the care you need, when you need it. Our
                                            electronic prescription service streamlines your medication management,
                                            providing clear and precise prescriptions. We empower you with access to
                                            comprehensive medical records, allowing for a transparent and informed
                                            healthcare journey. Our goal is to make healthcare accessible, reliable, and
                                            patient-centered, utilizing cutting-edge technology to meet the needs of our
                                            modern patients.
                                        </strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- end slider section -->
</div>


<!-- we offer section -->

<section class="department_section layout_padding">
    <div class="department_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    What We Offer
                </h2>
                <p>
                    Our Clinic Management System is designed to enhance healthcare delivery through streamlined
                    operations and improved patient care.

                </p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="box ">
                        <div class="img-box">
                            <img th:src="@{/media/s1.png}" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Appointments
                            </h5>
                            <p>
                                Simplify the process of scheduling, viewing, and cancelling appointments with intuitive,
                                user-friendly interfaces.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box ">
                        <div class="img-box">
                            <img th:src="@{/media/s2.png}" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Electronic Prescriptions
                            </h5>
                            <p>
                                Enhance prescription accuracy and convenience with electronic prescriptions, reducing
                                errors and improving outcomes.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box ">
                        <div class="img-box">
                            <img th:src="@{/media/s3.png}" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Medical Records
                            </h5>
                            <p>
                                Access comprehensive patient histories with ease, supporting informed decision-making
                                and continuity of care.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box ">
                        <div class="img-box">
                            <img th:src="@{/media/s4.png}" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Integrated Care
                            </h5>
                            <p>
                                Facilitate seamless coordination between different healthcare services, ensuring
                                holistic patient care.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end department section -->

<!-- about section -->

<section class="about_section layout_margin-bottom">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img th:src="@{/media/about-img.jpg}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About <span>Us</span>
                        </h2>
                    </div>
                    <p>
                        The Clinic Management System is dedicated to simplifying the healthcare experience, offering a
                        comprehensive platform for managing appointments, medical records, and prescriptions
                        efficiently. Our mission is to leverage technology to enhance patient care, ensuring accessible
                        and reliable healthcare services.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->


<div class="text-center h4" th:insert="fragments/footer::copy_rights"></div>

</body>

</html>