<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="~{fragments/heading :: heading (title = 'Appointment Details')}"/>
</head>
<body>
<div class="toast-container">
    <div class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive"
         aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
    </div>
</div>
<div th:class="'container-fluid width-s-90  width-m-50 shadow p-3'">

    <div th:class="card">
        <div th:class="'card-header text-center'"><h4 th:class="'fw-bold'">Appointment</h4></div>
        <div th:class="'card-body m-3'">
            <div>
                <i th:class="'bi bi-calendar-fill me-3 details-icons text-success' "></i>
                <p id="appointment_date" th:class="'d-inline-block details-text '"></p></div>
            <div>
                <i th:class="'bi bi-clock-fill me-3 details-icons text-success' "></i>
                <p th:class="'d-inline-block details-text ' " id="appointment_time"></p>
            </div>
            <div>
                <i th:class="'bi bi-clipboard2-pulse-fill me-3 details-icons text-warning ' "></i>
                <p th:class="'d-inline-block details-text'" id="purpose"></p>
            </div>
            <div>
                <i th:class="'bi bi-heart-pulse-fill me-3 details-icons text-danger ' "></i>
                <p th:class="'d-inline-block details-text'" id="appointment_type"></p>
            </div>
            <div>
                <i th:class="'bi bi bi-person-fill me-3 details-icons text-primary '"></i>
                <p th:class="'d-inline-block details-text'" id="doctor_fullname"></p>
            </div>
            <div>
                <i th:class="'bi bi bi-person-fill me-3 details-icons' "></i>
                <p th:class="'d-inline-block details-text'" id="patient_fullname"></p>
            </div>
            <!--Prescription Section-->

            <div th:class="'card m-3'" id="prescription_section" sec:authorize="isAuthenticated() and !hasRole('ROLE_SECRETARY')">
                <div th:class="'card-header'" id="prescription_header">
                    <h3 th:class="d-inline-block">Prescription</h3>
                </div>

                <div th:class="'card-body'" id="prescription_body" \></div>
            </div>


            <div th:class="'card-footer text-center'"><a th:class="'btn btn-danger'"
                                                         th:href="@{/appointments/}">Back</a>
            </div>
        </div>


    </div>
    <script th:src="@{/js/bundle-get_one_appointment.js}" defer></script>
</div>

</body>
</html>